name: CI Checks
on:
  workflow_dispatch:
  pull_request: {}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup bun
        uses: oven-sh/setup-bun@v2
      # might be needed to build wasm
      - name: Setup zig
        uses: mlugg/setup-zig@v2
        with:
          version: "master"
      - name: Run ci checks
        run: |
          bun install --frozen-lockfile
          bun run ci
